<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="{{ url_for('static', filename='assets/dudul.ico') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='badminton.css') }}"
    />
    <title>Badminton | Booking</title>
  </head>
  <body>
    <div class="Fill">
      <div class="card-kebawah">
        <div class="card-container">
          <div class="image-content">
            <img src="/static/assets/court.jpg" alt="" />
          </div>
          <div class="card-title">
            <h3>Badminton 1</h3>
          </div>
          <div class="card-content">
            <div class="card-body">
              <p>Rp30.000/hour</p>
            </div>
          </div>
          <div class="btn">
            <a href="#">Book</a>
          </div>
        </div>
        <div class="card-container">
          <div class="image-content">
            <img src="/static/assets/court.jpg" alt="" />
          </div>
          <div class="card-title">
            <h3>Badminton 2</h3>
          </div>
          <div class="card-content">
            <div class="card-body">
              <p>Rp30.000/hour</p>
            </div>
          </div>
          <div class="btn">
            <a href="#">Book</a>
          </div>
        </div>
        <div class="card-container">
          <div class="image-content">
            <img src="/static/assets/court.jpg" alt="" />
          </div>
          <div class="card-title">
            <h3>Badminton 3</h3>
          </div>
          <div class="card-content">
            <div class="card-body">
              <p>Rp35.000/hour</p>
            </div>
          </div>
          <div class="btn">
            <a href="#">Book</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
