@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

:root {
  --primary-color: #2c3855;
  --primary-color-dark: #435681;
  --text-dark: #333333;
  --text-light: #767268;
  --extra-light: #f3f4f6;
  --white: #ffffff;
  --max-width: 1200px;
}

.alert {
  position: fixed;
  top: 0; /* Jarak dari atas */
  left: 0; /* Jarak dari kanan */
  background-color: #d4edda; /* Warna latar belakang (merah muda) */
  color: #155724; /* Warna teks (gelap) */
  border: 1px solid #c3e6cb; /* Border */
  border-radius: 5px; /* Sudut melengkung */
  padding: 15px; /* Padding di dalam alert */
  width: 300px; /* Lebar alert */
  z-index: 1050; /* Pastikan di atas konten lain */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Bayangan */
  display: flex; /* Gunakan flexbox untuk tata letak */
  justify-content: space-between; /* Ruang antara konten dan tombol tutup */
  align-items: center; /* Vertikal center */
}

.tombol-close {
  background: none; /* Tanpa background */
  border: none; /* Tanpa border */
  font-size: 15px; /* Ukuran font */
  cursor: pointer; /* Tangan ketika hover */
  color: #505050; /* Warna teks (gelap) */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  background-color: #fff;
  height: 80px;
  margin: 20px;
  border-radius: 16px;
  padding: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.navbar-brand {
  width: 3rem;
  /* background-color: red; */
}

.login-button {
  background-color: rgb(44, 82, 85);
  color: #fff;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
}

.login-button:hover {
  background-color: rgba(44, 82, 85, 0.9);
}

.login-button:active {
  scale: 0.95;
}

.logout-button {
  background-color: rgb(194, 74, 74);
  color: #fff;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
}

.logout-button:hover {
  background-color: rgba(194, 74, 74, 0.9);
}

.logout-button:active {
  scale: 0.95;
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link {
  color: #666777;
  position: relative;
  font-weight: 500;
}

.nav-link:hover,
.nav-link.active {
  color: rgb(44, 82, 85);
}

.offcanvas-title {
  width: 5rem;
}

@media (min-width: 991px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: rgb(44, 82, 85);
    visibility: hidden;
    transition: 0.2s ease-in-out;
  }

  .nav-link:hover::before,
  .nav-link.active::before {
    width: 80%;
    visibility: visible;
  }
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  padding-top: 8rem;
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-dark);
  text-align: center;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: flex;
}

body {
  font-family: "Poppins", sans-serif;
}

.link a {
  font-weight: 500;
  color: var(--text-light);
  transition: 0.3s;
}

.link a:hover {
  color: var(--primary-color);
}

.header__container {
  padding: 8rem 1rem 5rem 1rem;
}

.header__image__container {
  position: relative;
  min-height: 500px;
  background-image: linear-gradient(
      to right,
      rgba(44, 82, 85, 0.9),
      rgba(100, 125, 187, 0.2)
    ),
    url("./assets/field.jpg");
  background-position: center center;
  background-size: cover;
  display: flex;
  background-repeat: no-repeat;
  border-radius: 2rem;
}

.header__content {
  max-width: 600px;
  display: grid;
  align-items: center;
  padding: 5rem 2rem;
}

.header__content h1 {
  margin-bottom: 10rem;
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 600;
  color: var(--white);
  text-shadow: 2px 2px rgb(38, 61, 63);
}

.header__content p {
  color: var(--extra-light);
  font-weight: 500;
  font-style: italic;
  text-shadow: 1px 1px rgb(38, 61, 63);
}

.popular__grid {
  margin-top: 4rem;
  display: grid;
  /* background-color: red; */
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.popular__category {
  margin-top: 4rem;
  display: grid;
  padding: 0.5rem;
  /* background-color: red; */
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.popular__card {
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.popular__image_container1 {
  position: relative;
  min-height: 400px;
  background-image: linear-gradient(
      to right,
      rgb(0, 0, 0, 0.7),
      rgb(0, 0, 0, 0.7)
    ),
    url("./assets/kategorifutsal.jpg");
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  border-radius: 1rem;
}

.popular__image_container2 {
  position: relative;
  min-height: 400px;
  background-image: linear-gradient(
      to right,
      rgb(0, 0, 0, 0.6),
      rgb(0, 0, 0, 0.6)
    ),
    url("./assets/badmintonkategori.jpg");
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  border-radius: 1rem;
}

.popular__image_container_book1 {
  position: relative;
  min-height: 400px;
  background-image: linear-gradient(
      to right,
      rgb(0, 0, 0, 0.7),
      rgb(0, 0, 0, 0.7)
    ),
    url("./assets/bolafutsal.jpg");
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  border-radius: 1rem;
}

.popular__image_container_book2 {
  position: relative;
  min-height: 400px;
  background-image: linear-gradient(
      to right,
      rgb(0, 0, 0, 0.7),
      rgb(0, 0, 0, 0.7)
    ),
    url("./assets/raket.jpg");
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  border-radius: 1rem;
}

.popular__content {
  padding: 1rem;
}

.booking__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.booking__content h2 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 4rem;
  color: var(--white);
  text-shadow: 2px 2px rgb(38, 61, 63);
}

.popular__content h2 {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 500;
  color: var(--white);
  text-shadow: 2px 2px rgb(38, 61, 63);
}

.popular__card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.popular__card__header h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.popular__card__header h5 {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-light);
}

.popular__content p {
  color: var(--text-light);
}

/* .client {
  background-color: var(--extra-light);
} */

.client {
  margin-bottom: 7rem;
}

.client__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.client__card {
  padding: 2rem;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.client__card img {
  max-width: 80px;
  margin: auto;
  margin-bottom: 1rem;
  border-radius: 100%;
}

.client__card p {
  text-align: center;
  color: var(--text-dark);
}

.reward__container {
  padding: 2rem;
  text-align: center;
  border-radius: 2rem;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  margin-top: 4rem;
}

.reward__container p {
  margin-bottom: 1rem;
  font-weight: 600;
  color: var(--text-light);
  line-height: 2;
}

.reward__container h4 {
  max-width: 500px;
  margin: auto;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.reward__btn {
  padding: 0.8rem 3rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: rgb(44, 82, 85);
  border-radius: 50px;
  cursor: pointer;
  transition: 0.2s;
}

.reward__btn:hover {
  background-color: rgb(52, 96, 99);
}

.footer {
  background-color: var(--extra-light);
}

.footer__container {
  display: grid;
  grid-template-columns: 2fr repeat(3, 1fr);
  gap: 5rem;
}

.footer__col h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-dark);
  /* padding-top: 3rem; */
}

.footer__col h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
  /* padding-top: 3rem; */
}

.footer__col p {
  margin-bottom: 1rem;
  color: var(--text-light);
  /* cursor: pointer; */
  transition: 0.3s;
}

/* .footer__col p:hover {
  color: var(--text-dark);
} */

.footer__bar {
  position: relative;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--text-light);
  text-align: right;
  overflow: hidden;
}

.footer__bar::before {
  position: absolute;
  content: "";
  top: 50%;
  right: 28rem;
  transform: translateY(-50%);
  width: 20rem;
  height: 2px;
  background-color: var(--text-light);
}

@media (width < 900px) {
  .popular__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .popular__category {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .client__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__col h3 {
    padding-top: 4rem;
  }

  .footer__col h4 {
    padding-top: 4rem;
  }
}

@media (width < 600px) {
  .header__container {
    padding-bottom: 10rem;
  }

  .popular__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .popular__category {
    grid-template-columns: repeat(1, 1fr);
  }

  .client__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer__container {
    gap: 2rem;
  }

  .footer__col h3 {
    padding-top: 3rem;
  }

  .footer__col h4 {
    padding-top: 3rem;
  }
}
