<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <!-- <link rel="stylesheet" href="style.css" /> -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='login.css') }}"
    />
    <title>Registration | Login</title>
  </head>
  <body>
    <div class="container">
      <div class="signin-signup">
        <form method="POST" action="{{ url_for('auth') }}" class="sign-in-form">
          <h2 class="title">Registration</h2>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input
              type="text"
              name="username"
              placeholder="Full Name"
              required
            />
          </div>
          <div class="input-field">
            <i class="fas fa-phone"></i>
            <input type="text" placeholder="Phone Number" required />
          </div>
          <div class="input-field">
            <i class="fas fa-envelope"></i>
            <input type="email" placeholder="Email" required />
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input
              type="password"
              name="password"
              placeholder="Password"
              required
            />
          </div>
          <input type="submit" name="register" value="Sign Up" class="btn" />
          <p class="account-text">
            Already have an account? <a href="#" id="sign-up-btn2">Sign in</a>
          </p>
        </form>
        <form method="POST" action="{{ url_for('auth') }}" class="sign-up-form">
          <h2 class="title">Sign in</h2>
          <div class="input-field">
            <i class="fas fa-envelope"></i>
            <input type="email" name="username" placeholder="Email" required />
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input
              type="password"
              name="password"
              placeholder="Password"
              required
            />
          </div>
          <input type="submit" name="login" value="Login" class="btn" />
          <p class="account-text">
            Don't have an account? <a href="#" id="sign-in-btn2">Sign Up</a>
          </p>
        </form>
      </div>
      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>Welcome back!</h3>
            <p>Don't have an account ?</p>
            <button class="btn" id="sign-in-btn">Sign Up</button>
          </div>
          <img src="signin.svg" alt="" class="image" />
        </div>
        <div class="panel right-panel">
          <div class="content">
            <h3>Welcome!</h3>
            <p>Already have an account ?</p>
            <button class="btn" id="sign-up-btn">Sign in</button>
          </div>
          <img src="signup.svg" alt="" class="image" />
        </div>
      </div>
    </div>
    <script>
      const sign_in_btn = document.querySelector("#sign-in-btn");
      const sign_up_btn = document.querySelector("#sign-up-btn");
      const container = document.querySelector(".container");
      const sign_in_btn2 = document.querySelector("#sign-in-btn2");
      const sign_up_btn2 = document.querySelector("#sign-up-btn2");
      sign_up_btn.addEventListener("click", () => {
        container.classList.add("sign-up-mode");
      });
      sign_in_btn.addEventListener("click", () => {
        container.classList.remove("sign-up-mode");
      });
      sign_up_btn2.addEventListener("click", () => {
        container.classList.add("sign-up-mode2");
      });
      sign_in_btn2.addEventListener("click", () => {
        container.classList.remove("sign-up-mode2");
      });
    </script>
  </body>
</html>
